:root{
   --light:#ffff;
   --box-shadow:1px 2px 5px rgba(0,0,0,0.3);
   --dark:#191c1e;
   --transition:all ease-in .3s;
   --backgroundPrimary: rgb(78,110,93);
   --linearBackgroundPrimary: linear-gradient(90deg, rgba(78,110,93,1) 35%, rgba(93,167,128,1) 100%);
   --backgroundSecondary: transparent;
   --linearBackgroundSecondary: linear-gradient(90deg, rgba(5, 5, 5, 1) 0%, rgba(67, 67, 67, 1) 72%) !important;
}


@mixin linearGradientPrimary {
    background:var(--backgroundPrimary) !important;
    background: var(--linearBackgroundPrimary)!important;
};

@mixin linearGradientSecondary {
    background:var(--backgroundSecondary) !important;
    background: var(--linearBackgroundSecondary)!important;
};

@for $i from 1 through 3 {
    h#{$i}::before {
      content:'__';

    }
}

.uk-section-primary{
    @include linearGradientPrimary();
    strong{
        color:var(--light) !important;
    }
}

.uk-section-secondary{
    @include linearGradientSecondary();
    strong{
        color:var(--light) !important;
    }

}

.image-wrap img{
    width: 1000px;
    height: 667px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 1px 2px 8px rgba(0,0,0,0.3);
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle,.uk-h1,.uk-h2,.uk-h3,.uk-h4,.uk-h5,.uk-h6,.uk-heading-2xlarge,.uk-heading-large,.uk-heading-medium,.uk-heading-small,.uk-heading-xlarge,h1,h2,h3,h4,h5,h6{
    font-family: 'JetBrains Mono', monospace;
}

.uk-navbar-container:not(.uk-navbar-transparent){
    box-shadow: var(--box-shadow);
    background-color: var(--light) !important;
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle{
    font-size:1.2rem !important;
}

.grid-stacks .uk-card-media-top {
    min-height:200px;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:1rem;
}


.contact-wrap{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

.grecaptcha-badge {
    display: none !important;
}

.uk-subnav-pill>.uk-active>a{
    background-color: var(--dark) !important;
}
.uk-card-default{
    box-shadow: var(--box-shadow);
    transition: var(--transition);
    img{
        transition: var(--transition);
    }
    &:hover {
        box-shadow:0 2px 8px rgba(0,0,0,.08);
        img{
            transform:scale(1.1);
        }

    }
    .uk-card-media-top.card-portolio-img {
        width: 200px;
        height: 100px;
        display:flex;
        align-items:center;
        justify-content:center;
        overflow:hidden;
        text-align:center;
        margin:0 auto;
        padding:10px 0px;
        img{
            width:180px;
            height:98px;
            object-fit:contain;
            transition: all ease-in-out .3s;

        }
    }
}

.introPage{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:100vh;
    z-index:99999999;
    background:white;
    display: flex;
    justify-content: center;
    align-items: center;
    .spinLogo{
        animation-name: spinLogo;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

}



@keyframes spinLogo {
	0% {
		transform: rotate(0deg) scale(1);
        opacity: 1;
	}
	100% {
        transform: rotate(360deg) scale(0);
        opacity:0;


	}
}
.single-skill {
	position: relative;
	height: 100px;
	max-width: 70%;
}
.inner-skill {
	h5 {
		text-transform: uppercase;
		color: var(--light) !important;
		font-weight: bold;
	}
}
.single-skill-line {
	background: rgb(246 246 246 / 76%);
	height: 10px;
	box-shadow: inset 0 0 10px var(--light);
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	width: 100%;
	transform: translate(0, -50%);
}
.single-skill-fader {
	position: absolute;
	background: white;
	width: 50px;
	height: 30px;
	top: 50%;
	border-radius: 50px;
	transform: translate(-50%,-50%);
}
.single-skill-fader.percent-100 {
	left: 100%;
	left: 100%;
}
.vert-line-wrap {
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: inline-block;
	height: 25px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	.vert-line {
		float: left;
		width: 33,3%;
		position: relative;
	}
}
.vert-line {
	span {
		position: absolute;
		width: 5px;
		height: 14px;
		top: 0;
		background: black;
		border-radius: 5px;
		box-shadow: inset 0 0 10px #767676;
		transform: translate(-50%,-50%);
	}
}
@media screen and (max-width:650px) {
	.single-skill {
		max-width: 100%;
	}
}
